@import '../../styles/variables';

.dashboard {
  .search-field {
    .row {
      .col {
        .btn {
          margin-top: 25px;
          margin-left: 25px;
        }
      }
    }
  }
}

.dashboard-page {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
  grid-gap: 20px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 300px;

    .content-line {
      width: 100%;
      flex: 0.5;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 24px;

      span {
        flex: 0.5;
        text-align: center;
        font-size: $h5-font-size;
      }

      span.count {
        font-weight: 600;
        color: $color-secondary;
        font-size: $h4-font-size;
      }

      i.material-icons {
        color: $color-alternative;
        font-size: $h3-font-size;
      }
    }
  }
}
