@import '../../styles/variables';

.dashboard-page {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
  grid-gap: 20px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 300px;

    .content-line {
      width: 100%;
      flex: 0.5;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 24px;

      span {
        flex: 0.5;
        text-align: center;
        font-size: $h6-font-size;
      }

      i.material-icons {
        color: $color-alternative;
        font-size: $h3-font-size;
      }
    }
  }
}
